* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
/*  fonts */
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: clamp(1.8rem, 5vw, 2.65rem);
  margin-bottom: 1.5rem;
}
p {
  font-size: clamp(1rem, 2vw, 1.4rem);
}
h2 {
  font-size: clamp(1.8rem, 5vw, 2.4rem);
  margin-bottom: 1.5rem;
}
h3 {
  font-size: clamp(1.8rem, 5vw, 2.2rem);
  margin-bottom: 1.5rem;
}
h4 {
  font-size: clamp(1rem, 2vw, 1.4rem);
}
a {
  font-size: clamp(0.8rem, 2vw, 1.1rem);
}
span {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  margin-left: 00.5rem;
}
.container {
  /* margin: 2rem auto; */

  box-shadow: 1px 5px 24px 1px rgba(0, 0, 0, 0.1);
}

/* header */
header {
  overflow: auto;
  border-bottom: 2px solid grey;
  /* border: 2px solid orange; */
  /* position: fixed; */
  display: flex;
  width: 100%;
  padding: 20px 40px;
}
header > figure {
  width: 65%;
}
header > figure > img {
  width: clamp(80px, 10vw, 100px);
}
header ul {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .fa-bars {
  display: none;
}
button {
  background-color: #2f65f9;
  color: white;
  border: none;
}
button:hover {
  background-color: #6e99ff;
}
/* first section with the newsletter and box with mails */
.boxOne {
  overflow: auto;
  background-image: url('./images/bg-curve-desktop.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  /* border: 0.125rem solid blue; */
  padding: 1.25rem 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* .boxOne > section {
  border: 2px solid pink;
} */
.secure {
  padding: clamp(2.2rem, 10vw, 6rem) 0;
}

.secure p {
  margin-bottom: 0.8rem;
}
.secure input[type='email'] {
  padding: 5px;
  width: 50%;
}
.secure button {
  padding: 5px;
  width: 40%;
}

/* emails illustration section */
.emailsBox > img {
  width: 100%;
  height: 100%;
}

/* sectionTwo */

.boxTwo {
  background-image: url('./images/bg-curve-desktop.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 70px 40px;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f9f8fe;
  /* border: 1px solid green; */
}
.arrowLink {
  border-bottom: 1px solid green;
}
.customerReview {
  padding: 20px;
  width: 70%;
  overflow: auto;
  /* border: 1px solid peru; */
  box-shadow: 1px 5px 24px 1px rgba(0, 0, 0, 0.1);
  margin-top: 1.5rem;
}
.easyAccess,
.secureShare {
  margin-bottom: 1rem;
}

.kellyBurton {
  /* border:2px solid green; */
  margin-top: 1.2rem;
  overflow: auto;
}
.kellyBurton > * {
  float: left;
}
.kellyBurton > img {
  border-radius: 50%;
  width: 50px;
  margin-right: 1rem;
}
/* section with the testimonies image with three people holding up comments */
.testimonies {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonies > img {
  width: 80%;
  height: 80%;
}

/* sectionThree */
.boxThree {
  /* padding: 20px; */
  background-color: #575989;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px 40px;
  /* border: 1px solid green; */
  /* margin-top: 3rem; */
}
.boxThree * {
  color: white;
}
.signUpForm {
  margin: 1rem 0;
  padding: 20px 40px;
  /* border: 1px solid; */
}
.signUpForm input[type='email'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  color: #2f65f9;
}
.signUpForm button {
  display: block;
  padding: 10px 20px;
  /* width: 50%; */
  font-size: clamp(0.9rem, 1.5vw, 1rem);
}

footer {
  padding: 2rem 2rem;
  background-color: #07043b;
  /* border: 2px solid red; */
  /* overflow: auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer > * {
  /* margin: 1rem; */
  /* border: 1px solid royalblue; */
  width: 25%;
  color: white;
}
footer a {
  color: white;
}
footer > div ul {
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
}
footer > div ul li {
  margin-bottom: 1rem;
}
.logo {
  filter: brightness(0) invert(1);
  width: clamp(5rem, 10vw, 8rem);
  margin-bottom: 1.5rem;
}
.contactNumber {
  margin-bottom: 1rem;
}
.contactNumber span {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  margin-left: 0.5rem;
}

.socialMedia img {
  width: 30px;
  /* border-radius: 50px; */
}
.socialMedia > ul {
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 790px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .boxOne,
  .boxTwo,
  .boxThree,
  footer {
    display: grid;
    grid-template-columns: 1fr;
  }
  footer {
    display: flex;
  }
  footer > * {
    width: 40%;
  }
  .signUpForm {
    padding: 1.25rem;
  }
  h1 {
    font-size: clamp(1.5rem, 3vw, 2.65rem);
  }
  p {
    font-size: clamp(1rem, 2vw, 1.4rem);
  }
  h2 {
    font-size: clamp(1.5rem, 3vw, 2.4rem);
    margin-bottom: 1.5rem;
  }
  .boxOne .emailsBox {
    grid-row: 1;
  }
  .socialMedia > ul {
    flex-direction: column;
    justify-content: space-between;
  }
  /* .contactNumber span {
    display: block;
  }*/
}

@media (max-width: 520px) {
  header {
    justify-content: space-between;
  }
  header ul {
    display: none;
  }
  header .fa-bars {
    display: block;
  }
  .signUpForm button {
    width: 100%;
    /* border: 1px solid black; */
  }
  footer > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid; */
    width: 100%;
    /* justify-content: space-between; */
  }
  footer > div ul li {
    align-items: space-around;
    margin: 1rem;
  }

  .socialMedia > ul {
    flex-direction: column;
    align-items: space-between;
  }
}
